.section {
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  text-align: center;
}

.statsGrid {
  margin-left: auto;
  margin-right: auto;
  max-width: 56rem;
}
